```{=html}

<div class="dropdown-container">
  <div class="dropdown-wrapper">
      <select id="geography">
        <option value="">Geography</option>
        <option value="global">Global</option>
        <option value="regional">Regional</option> 
        <option value="multi-country">Multi-country</option>
      </select>
  </div>
  <div class="dropdown-wrapper">
    <select id="section">
      <option value="">Section</option>
      <option value="epidemiology">Epidemiology</option>
      <option value="entomology">Entomology</option>
      <option value="climate">Climate</option>
      <option value="interventions">Interventions</option> 
      <option value="costs">Costs</option>
    </select>
  </div>
  <div class="dropdown-wrapper">
    <select id="timescale">
      <option value="">Timescale</option>
      <option value="annual">Annual</option>
      <option value="monthly">Monthly</option>
      <option value="day">Day</option>
      <option value="hourly">Hourly</option> 
    </select>
  </div>
</div>

<div class="list grid">
  <% for (const item of items) { %>
    <div class="card border-1 rounded-2 g-col-12 g-col-sm-6 g-col-md-4 mb-2" <%=metadataAttrs(item) %>>
      <p class="card-img-top"><img src="<%- item.image %>" class="thumbnail-image card-img"></p>
      <div class="card-body post-contents">
        <h5 class="no-anchor"><a href="<%- item.path %>" class="no-anchor card-title listing-title">
            <%= item.title %>
          </a></h5>
        <div class="listing-categories">
          <% if (Array.isArray(item.categories)) { %>
            <% item.categories.forEach(category=> { %>
              <div class="listing-category me-1">
                <%= category %>
              </div>
              <% }) %>
                <% } %>
        </div>
        <p class="listing-description"><%- item.description %></p>
      </div>
    </div>
    <% } %>
</div>

<script>
  document.getElementById("geography").onchange = (e) => {
    let val = e.target.value;
    let urlFragment = "#category="+val;
    console.log(window.location.href);
    console.log(window.location.href.replace(/#.*$/g, ""));
    let url = window.location.href.replace(/#.*$/g, "") + urlFragment; 
    window.location = url;
  }
</script>
```















